services:
  mqtt-broker:
    image: eclipse-mosquitto:2.0.20
    container_name: mqtt-broker
    ports:
      - "1883:1883" # MQTT port
      - "9002:9001" # MQTT over WebSockets (optional, for MQTT over WebSocket support)
    volumes:
      - ./config:/mosquitto/config
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
    restart: unless-stopped
    networks:
      - IOT

  portainer:
    image: portainer/portainer-ce:2.21.4
    container_name: portainer
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: unless-stopped

  node-red:
    image: nodered/node-red:4.0.8
    container_name: node-red
    ports:
      - "1880:1880" # Map Node-RED's default port to the host
      - "3456:3456" # Alexa Config Port
    privileged: true
    # network_mode: host
    volumes:
      - node_red_data:/data
    restart: unless-stopped
    networks:
      - IOT
    depends_on:
      - mqtt-broker

  presence-detector:
    build:
      context: ../../
      dockerfile: Dockerfile
      target: dev # Use dev for when building on Main Desktop Machine
    container_name: presence-detector
    restart: unless-stopped
    privileged: true
    environment:
      - MQTT_HOST=mqtt-broker
      - MQTT_PORT=1883
      - MQTT_CLIENT_ID=presence-detector
      - ROOM=master-bedroom
      - SENSOR_ID=1
      - PIN=C0
      - RUST_LOG=info
    networks:
      - IOT
    depends_on:
      - mqtt-broker

volumes:
  portainer_data:
  mosquitto_data:
  mosquitto_log:
  node_red_data:

networks:
  IOT:
    driver: bridge
